
body {
  background: linear-gradient(to bottom left, #ABDFF2 50%, #FAA289 80%);
  display: grid;
  overflow-y: auto;
}
html {
  min-height: 100%;
  display: grid;
}


.playlist {
    background-color: #511133;
    border-radius: 15px 15px 15px 15px;
    list-style-type: none;
    margin: 10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 456px;
    overflow-y: auto;
    height: auto;
    z-index: 1;
}
.playlist li {
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 0 5px 15px;
}
.playlist li.active {
    font-weight: bold;
}
li:hover{
    font-weight: bold;
    color:green;
}


.cover {
    background: transparent url(../images/img2.png) no-repeat scroll center top;
    border-radius: 5px 5px 5px 5px;
    height: 300px;
    width: 394px;
    margin: auto;

}

#container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba($dark, .4);
  -webkit-transition: all .5s ease-in-out;
  transition:all .5s ease-in-out;

}

#controls {
  display: flex;
  align-items: center;
  font-size: .8em;
  justify-content: center;
  color: #8BA989;
}
  #play, #pause,#big,#small,#normal{
    margin: 15px 18px;
    color: #2BA989;
    padding: 10px;
  }

.selected{
  font-size: 20px;
}
  button {
    position: relative;
    background-color: #CBBF50;
    border: none;
    font-size: 15px;
    padding: 20px;
    width: auto;
    display: inline;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  #play, #pause, #big,#small,#normal {
  transition: all .5s ease;
}
#play:hover,#pause:hover,#volup:hover,#voldown:hover {
  color: #364F3C;
  background: orange;
}
